.avatar {
  grid-row: 1 / span 2;
}

.avatar img {
  border: 5px double var(--background-color);
  border-radius: 0.2rem;
  width: 12rem;
  height: 15rem;
  object-fit: cover;
}

@media (max-width: 575px) {
  .avatar img {
    width: 40vw;
    height: 60vh;
  }
}
