.contact h2 {
  margin: 0;
}

.contact .email, .contact .phone, .contact .address {
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact form.inline {
  grid-template-rows: 2rem max-content;
}

@media (max-width: 575px) {
  .contact {
    font-size: 2.5vw;
  }

  .contact button.edit {
    font-size: 3vw;
  }
}
