.contact h2 {
  margin: 0;
}

.contact .email, .contact .phone, .contact .address {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact form.inline {
  grid-template-rows: 2rem max-content;
}
