.CV.disabled > * {
  color: gray;
}

.CV.disabled .entry-form {
  color: var(--font-color);
}

.CV.disabled button {
  color: gray;
  cursor: default;
  pointer-events: none;
}

.CV.disabled .entry-form button {
  color: var(--font-color);
  cursor: pointer;
  pointer-events: auto;
}
