form.inline {
  display: grid;
  grid-template: 1.6rem max-content / repeat(2, max-content);
  align-items: center;
}

form.inline .field {
  grid-row: 1 / span 2;
  grid-column: 1;
}

form.inline input {
  min-width: 28rem;
}

form.inline button.submit {
  font-size: 1.5rem;
  grid-row: 1;
  grid-column: 2;
}
