.entry {
  display: grid;
  grid-template-columns: repeat(2, max-content);
}

.entry * {
  margin: 0;
}

.entry h3 {
  grid-row: 1;
}

.entry :not(button.edit) {
  grid-column: 1;
}

.entry button.edit {
  grid-column: 2;
}
