.entry {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  justify-items: start;
}

.entry * {
  margin: 0;
}

.entry h3 {
  grid-row: 1;
  grid-column: 1;
}

.entry :not(button.edit):not(h3) {
  grid-column: 1 / span 3;
}

.entry button.edit {
  grid-row: 1;
  grid-column: 2;
}
