.entry-form {
  width: max-content;
  display: grid;
  align-items: center;
  justify-items: start;
  row-gap: 0.5rem;
}

.entry-form button.close {
  justify-self: end;
}

.entry-form input {
  min-width: 28rem;
}

.entry-form div.submit {
  justify-self: stretch;
  display: flex;
  justify-content: center;
}

.entry-form:not(.short):not(.inline) {
  padding: 0.5rem 0.5rem 1rem;
}

.entry-form.short, .entry-form.inline {
  grid-template: 1.6rem max-content / repeat(3, max-content);
  row-gap: 0;
}

.entry-form.short > *:not(:first-child):not(.buttons) {
  margin-top: 0.5rem;
}

.entry-form.short .field:first-child, .entry-form.short .field-set:first-child,
.entry-form.inline .field,
.entry-form.inline .field-set {
  grid-row: 1 / span 2;
}

.entry-form.short .field, .entry-form.short .field-set,
.entry-form.inline .field,
.entry-form.inline .field-set {
  grid-column: 1;
}

.entry-form.short .buttons, .entry-form.inline .buttons {
  grid-row: 1;
  grid-column: 2;
}

.entry-form.short .buttons button,
.entry-form.inline .buttons button {
  font-size: 1.5rem;
}

.entry-form.inline .field {
  display: grid;
  grid-template: max-content 1fr / repeat(2, max-content);
  align-items: center;
}

.entry-form.inline .field :first-child:not(input) {
  margin-right: 0.5rem;
}

.entry-form.inline input {
  grid-column: 2;
}

.entry-form.inline .field .error {
  grid-row: 2;
  grid-column: 2;
}

@media (max-width: 575px) {
  .entry-form input:not([type="checkbox"]) {
    min-width: 70vw;
    width: 70vw;
  }
}
