header {
  position: relative;
  background-color: var(--font-color);
  color: white;
  padding: 2.5rem 1rem;
  border-bottom: 5px var(--background-color) double;
  box-shadow: var(--shadow);
  display: grid;
  grid-template: 1fr max-content / max-content 1fr;
  justify-items: center;
}

header button, .CV.disabled header .entry-form, .CV.disabled header .entry-form button {
  color: white;
}

header button.icon:hover,
.CV.disabled header .entry-form button.icon:hover {
  color: var(--dark-background-color);
}
