.image-upload {
  position: absolute;
  top: 0;
  min-width: 100vw;
  padding: 10vh 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.image-upload h1 {
  margin: 0;
}

.image-upload img {
  border: 2px solid var(--font-color);
  border-radius: 0.2rem;
  height: 50vh;
}

.image-upload form {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.image-upload button.close {
  align-self: flex-end;
}
