.field-set.list ul {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.field-set.list .list-item-field {
  display: grid;
  grid-template: 1.6rem max-content / repeat(2, max-content);
}

.field-set.list .list-item-field .field {
  grid-row: 1 / span 2;
}

.field-set.list input {
  min-width: 35rem;
}
