main {
  background-color: var(--background-color);
  padding: 2rem 0;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

main form {
  font-size: 1rem;
  font-weight: normal;
}

main .entry, main .entry-form {
  background-color: white;
  padding: 1rem;
  border: 1px solid var(--font-color);
  border-radius: 0.2rem;
  box-shadow: var(--shadow);
}

@media (max-width: 575px) {
  main .entry, main .entry-form {
    padding: 0.5rem;
    min-width: 85vw;
  }

  main .entry-form:not(.inline):not(.short) input:not([type="checkbox"]) {
    min-width: 80vw;
    width: 80vw;
  }
}
